body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, .main-container, 
.random-container, .quote-container {
    padding: 0 18%;
}

header, .main-container, footer {
    background-color:#1F2937;
    color: #F9FAF8;  
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;   
}

.header h1 {
    font-size: 24px;
}

/* Main-container */
.main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 3%;
}

.main-container img  {
    height: auto;
    width: 500px;
}

.main-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.main-container p {
    font-size: 24px;
    color: #F9FAF8;
}

.sign-up {
    width: 400px;
}

/*Random-info */

.random-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}

.thumbnail  {
    height: 200px;
    width: 150px;
}

.thumbnail img {
    height: 100%;
    width:  100%;
}

.thumbnail-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}

/*Quote */

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 7% 0%;
    padding: 0 25%;
    background-color: #E5E7EB;
}

.quote-container p {
    margin-left: auto;
}

/* Call to action */

.call-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color: #3882F6;
    margin: 0 23%;
    padding: 0 6%;
    color: white;
}

.call-container button {
    align-self: center;
}

.call-container h3, 
.call-container p {
    margin: 0;
}

.text-area {
    margin: 4% 0;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}